
.spot-container {
    margin: 20px 0;
    display: flex ;
    justify-content: center;
}
.spot-container label{
    margin-top: 60px;
    margin-left: 20px;
}
.spot-container select {
    background-color: rgba(0, 0, 0, 0.1) ;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin-top: 60px;
}

.row-container {
    perspective: 1000px;
    margin-bottom: 30px;
}

.spot {
    background-color: gray;
    height: 25px;
    width: 25px;
    margin: 4px;
}

.spot.selected {
    background-color: #FF0050;

}

.spot.occupied {
    background-color: #fff;
}


.spot:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .spot:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background: rgba(0, 0, 0, 0.08);
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    list-style-type: none;
    display: flex;
    justify-content: center;

}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 2px;
}

.row {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;

}
.available{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.reserve-btn  {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    margin-right: 80px;

}
.switch-btn  {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
}


.time-selection button{
    background-color:rgb(142, 142, 142) ;
    margin-right: 60px;

}
h6{
    text-align: center;
    margin: 6px;
    color:gray;
}
.spot.available:hover h6 {
    color:white;
  }



/* Tablet menu */
@media all and (max-width: 1000px) {
.row-container{
    display: flex;
}
}