* {
   box-sizing: border-box;
   
}

.body {
   
   background-color: #f2f4f5;
   display: block;
   margin: 0px;
}

header {
   background-color: #979797;
   height: fit-content;
   margin-block: 15px;
   color: #fff;
   padding-block: 3px;
}

header h1,
h3 {
   font-size: 20px !important;
   text-align: center;
}

main {
  
 display: flex;
 align-items: center;
justify-content: space-around;
 margin: 1rem;
}

.container-profile {
   display: flex;
   gap: 30px;
   height: 100%;
   width: 76%;
   /* flex-wrap: wrap; */
}

.container-profile .left {
   flex: 50%;
   background-color: #fff;
   padding-inline: 15px;
   border-radius: 20px;
   box-shadow: 1px 1px 10px -1px #979797;
}

.container-profile .right {
   flex: 50%;
 display: flex;
 align-items: center;
 /* justify-content: center; */
 flex-direction: column;
 gap: 20px;
 /* width: 100%; */
}

.img-container {
   width: 100%;
   height: 10%;
   overflow: hidden;
   text-align: center;
   margin-bottom: 20px;
   margin-top: 20PX;

}

.fields label {
   display: flex;
   align-items: center;
   border-bottom: 1px solid #a9a9a9;
   margin-bottom: 5px;
   flex-wrap: wrap;
}

.fields label input {
   border: 0px;
   outline: 0px;
   padding: 11px;
   /* flex: 1; */
}

#delete { 
   cursor: pointer;  
   transition: text-decoration 0.3s; 
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 } 
  
 #delete:hover { 
   text-decoration: underline; /* Underline the text on hover */ 
   color: blue; 
 }

 .new-car { 
   cursor: pointer; 
   transition: text-decoration 0.3s; 
   margin: 0 10px;
 } 
  
 .new-car:hover { 
   text-decoration: underline; /* Underline the text on hover */
   color: blue; 
  
 }

.right .violation {
   background-color: #fff;
   border-radius: 20px;
   box-shadow: 1px 1px 10px -1px #979797;
   padding: 10px;
   width: 100%;
}


.right .violation .title {
   font-weight: 600;
   font-size: 17px;
   padding: 12px 20px;
   border-bottom: 1px solid #FF0050;
  
  
}
.car{
   margin-left: -80px;
}

.more{
 display: flex;
 justify-content: center;
}
.more .more-btn {
   /* margin-left: 400px; */
   margin-top: 120px;
   background-color: #FF0050;
   border: 1px solid #FF0050;
   padding: 8px 15px;
   font-size: 15px;
   color: #fff;
   border-radius: 5px;
   cursor: pointer;
   /* float: right; */
   width: 150px;
  
}

dialog {
   padding: 15px;
   overflow: hidden;
   border: 0;
   height: 90%;
   width: 60%;
   border-radius: 20px;
}

 

dialog .title {
   font-weight: 600;
   font-size: 19px;
   padding: 12px 20px;
   border-bottom: 1px solid #FF0050;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

dialog .title span:last-child {
   background-color: #FF0050;
   color: white;
   width: 30px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   cursor: pointer;
}

dialog .cont-list {
   height: 88%;
   overflow-y: auto;
}

dialog .dialog-list {
   list-style: none;
   padding-inline: 20px;
   margin-block: 10px;
}

dialog .dialog-list li {
  
   margin-bottom: 9px;
   line-height: 1.6;
}

dialog .dialog-list li span {
   display: block;
   width: 100%;
  
}

dialog .dialog-list li span:last-child {
   color: #979797;
}

.footer {
   position: relative;
}

@media (max-width:768px) {
   .container-profile {
     flex-wrap: wrap;
     width: 95%;
   }

   dialog {
      padding: 15px;
      overflow: hidden;
      border: 0;
      height: 90%;
      width: 90%;
      border-radius: 20px;
   }
}

@media (max-width:578px) {
   dialog {
      height: 100%;
      width: 100%;
   }

   dialog:-internal-dialog-in-top-layer {
      max-width: 100%;
      max-height: 100%;
      margin: 0;
      border-radius: 0;
   }
}
